



.search {
    display: flex;
    
}

.search input {
    height: 60px;
    display: flex;
    text-align: center;
   
}

.search .fa-search {
    display: flex;
    
}

.search button {
    
    background: blue
}
tr{
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

table{
    font-family: Arial, Helvetica, sans-serif;
}