.footer{
    width: 100%;
    background-color:#004960;
    border: 2px solid white;
    color: white;
   
    
}
.footer-container{
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}