.navbar-main{
    direction: ltr;
    background-color: #004960;
    box-sizing: border-box;
    height: auto;
    position: relative;
    display: flex;
    border: 1px solid white;
    font-size: medium;
    
}

.logo {
        border-radius: 30px;
      }
      .navbar-nav{
          width: 100%;
          display: flex;
          font-size: x-large;
          justify-content: start ;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          
          
         
         
      }
      .navbar-expand{
          display: flex;
          flex-flow: row;
         
          
      }
     
      .navdiv a{
        margin-right: 30px; 
        color: white;
        flex-wrap: wrap;
      }
      .logoo{
  
        justify-content: center;
      }
      .dropdown-menu{
        background-color: red;
      }
      .navlogo{
        border-radius: 0.3%;
        width: 50px;
        height: 50px;
      }
      .imglogo{
      
        width: 20%;
         float: right;
        
        }