.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
   padding: 1rem;
   background-color: white

}
span.repicon{
    color: brown;
    font-size: xx-large;
  }
  .item{
      font-size: larger;
      color: lightseagreen;
      font-weight: bolder;
  }
  .nav-text-rep {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 6px 0px 6px 6px;
    list-style: none;
    height: 80px;
  }