.tablerep {
  border-spacing: 0;
  border: 1px solid #ededed;
  direction: ltr;
  width: 90%;
  display: flex;
  flex-direction: column;

}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #7f6fbb;
  border-right: 1px solid #fafafa;
  position: relative;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}
table th.sort-desc::before {
  border-top: 5px solid #22543d;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.badge {
  background-color: #9ae6b4;
  color: #22543d;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.search {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid rgb(141, 9, 9);
  box-shadow: none;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.pagination{
justify-content: center;
padding: 4px;
}
button{
  background-color: white;
  color:blue;
  margin: 2px;
}