
    .button1 {
        background-color: #1E88E5 ;
        height: 50%;
       border-radius: 1rem;
        
      }
     
    
    .btn-group{
        width: 100%;
        height: 5rem;
    }
    .row2 .row3 .row4 .row5{
    margin-top: 10%;
   
    }
    .row{
      margin-bottom: 20px;
      flex-grow: 4;
    }
    

.container{
  background-color:white;
  width: 90%;
  height: auto;
  justify-content: center;
 
  bottom: 1%;

  transition: 850ms;
  transform: none;
}
  
.form{


flex-direction: column ;
flex-wrap: wrap;
flex-grow: 4;
margin-top: 3px;


}

.select{
  display: block;
  width: 70%;
  padding: 0.375rem 0.75rem;
 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0e5194;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color blue 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.col{
  margin-top: 10px;
 
}
.p-dt{
  color: #1E88E5;
  margin: 0.30rem;
  font-size: large;
  padding: 1.5rem;
  

}
#outlined-basic {
  width: 2rem;
  height: 2rem;
  margin: 0.8rem;
 
  
}
#outlined-notes{
  margin: 1rem
}

      