

.container{
    background-color:white;
    width: 80%;
    height: auto;
    justify-content: center;
   

    bottom: 1%;

    transition: 850ms;
    transform: none;
}
    


.select{
    display: block;
    width: 70%;
    padding: 0.375rem 0.75rem;
   
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0e5194;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color blue 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.col{
    margin-top: 10px;
   
}
.card3{
    width: 90%;
    display: flex;
    flex-grow: 3;
    flex-direction: row;
    shape-outside: border-box;
}

   


.p-dt{
    width: 100%;
}