
  
 @media screen and (max-width: 700px){
  .nav-menu {
    width: 100%;
    height: auto;
    position: relative;
  }
 }
  
  .nav-menu {
    background-color:#004960;
    width: 270px;
    height: auto;
    top: 8%;
    bottom: 1%;
    right: -100%;
    transition: 850ms;
    transform: none;

  }
  
  .nav-menu.active {
    right: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 80px;
   
  }
  
  .nav-text a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
    border-bottom: 1px white;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-right: 16px;
   
  }
  .nav-link{
   font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3cm;
  }
  span.icon{
    color: wheat;
    font-size: x-large;
  }
  .nav-header{
    
      background-color:black;
      color: rgb(247, 27, 27);
      width: 100%;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;

  }
  .imglogo{
  height: 20%;
  width: 100%;
    right: 4rem;
  }