@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.app{
  background-color: white;
  max-width: auto;
  max-height: 100%;
 
  direction: rtl;
}
body > #root > div {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif
}

  .content{
    display: flex;
    flex-direction: row ;
    height: 100%;
    width: 100%;

}
*, :before, :after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}