body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Akaya Telivigala', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction:"rtl";
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
